{% extends "django_classified/_base.html" %}
{% block title %}Scambi{% endblock %}
{% block body %}
<h3>Scambi</h3>
<table class="table table-striped">
  <thead>
    <tr><th>Da</th><th>A</th><th>Offro</th><th>Voglio</th><th>Stato</th></tr>
  </thead>
  <tbody>
  {% for t in trades %}
    <tr>
      <td>{{ t.from_user.username }}</td>
      <td>{{ t.to_user.username }}</td>
      <td>{{ t.offer_item.title }}</td>
      <td>{{ t.want_item.title }}</td>
      <td>{{ t.state }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="5" class="text-muted">Nessuna proposta</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
